@page "/results"
@using NonStdQuery.Client.Services
@using NonStdQuery.Backend.Representation.Validation

@inject CurrentSelection CurrentSelection
@inject QueryValidator Validator

@if (_errorMessage != null)
{
    <div>
        @_errorMessage
    </div>
}

@if (Validator.HasErrors(CurrentSelection.GetQuery()))
{
    <span>@_validationString</span>
}
else
{
    <button @onclick="@Execute">Execute</button>

    @if (CurrentSelection?.ExecutionResult != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    @foreach (var title in CurrentSelection.ResultsHeader)
                    {
                        <th>@title</th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var row in CurrentSelection.ExecutionResult.Data)
                {
                    <tr>
                        @foreach (var field in row)
                        {
                            <td>@field</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    <button @onclick="@Explain">Explain</button>

    @if (CurrentSelection?.ExplanationResult != null)
    {
        <div>
            <div class="col-lg-6">
                <fieldset class="border">
                    <legend class="text-center">SQL</legend>

                    <p id="innerPara">
                        @CurrentSelection.ExplanationResult.Sql
                    </p>
                </fieldset>
            </div>
        </div>

        <div>
            <div class="col-lg-6">
                <fieldset class="border">
                    <legend class="text-center">Pretty SQL</legend>

                    <p id="innerPara">
                        @CurrentSelection.ExplanationResult.PrettySql
                    </p>
                </fieldset>
            </div>
        </div>
    }
}

@code
{
    private string _validationString = "В запросе присутствуют ошибки.";
    private string _errorMessage;

    private async Task Execute()
    {
        try
        {
            await CurrentSelection.Execute();
            _errorMessage = null;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorMessage = "Произошла ошибка во время выполнения запроса.";
        }
    }

    private async Task Explain()
    {
        try
        {
            await CurrentSelection.Explain();
            _errorMessage = null;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _errorMessage = "Произошла ошибка во время составления запроса.";
        }
    }
}
